.square-collab {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid rgb(50,200,150);
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: rgb(50,200,150);
    cursor: pointer;
    outline: none;
}